.super-mario {
    width: 200px;
    position: absolute;
}

.goomba {
    width: 140px;
}

.baloon {
    width: 220px;
}

.word {
    position: absolute;
}

.bowser {
    width: 400px;
    float: right;
}